abstractor
*.abst
*.breathFirstSearch
*.ida
*.pdb
*.o
*.dist
*.dist_pdb
*.distSummary
*.iterativeDeepening
*.succ
*.noPruneExplore
*.parcialPruneExplore
*~
psvn-for-ci5437/Lesson*
psvn-for-ci5437/bin/psvn2c
psvn-for-ci5437/src*